*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.card{
    background: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(13,38,59,0.12);
    padding: 12px;
    max-width: 320px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 18px;
}

.card h1{
    font-weight: 700;
    font-size: 22px;
    margin: 10px 16px 12px 16px;
    color: hsl(218, 44%, 22%)
}

.card p{
    font-weight: 400;
    font-size: 15px;
    margin: 18px 20px 22px 20px;
    color:hsl(216, 15%, 48%)
}

.attribution{
    text-align: center;
    font-size: 12px;
    color: hsl(216, 15%, 48%);
    margin-top: 18px;
    padding-bottom: 12px;
}
